<div id="description" class="container">
  <div class="about row">
    <h2><span>Moookで出来ること</span></h2>
    <div>
      Moookはwebページの更新管理ツールです。<br>
      お気に入りのページのいつもの更新をいつでも確認できます。
    </div>
    <div class="col-md-4">
      <div class="value">
        <h3>ページの更新を通知</h3>
        <p class="icon"><%= glyph("exclamation-sign") %></p>
        <p>好きなページを登録、1時間おきに更新をチェックします！</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="value">
        <h3>ページを一括管理</h3>
        <p class="icon"><%= glyph("list-alt") %></p>
        <p>Web漫画等、複数のサイトに散らばった好きなページを一括管理できます！</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="value">
        <h3>ページを検索</h3>
        <p class="icon"><%= glyph("search") %></p>
        <p>みんなが投稿したページを検索し、更新通知を受け取れます！</p>
      </div>
    </div>
  </div>
  <%= render "devise/shared/ranking" %>
  <p class="supplement row">※β版のため、不具合及び公開を停止する可能性がございますので、ご了承ください。</p>
</div>