<div id="show" class="container">
  <div class="detail-area">
    <h1><%= @page.name %></h1>
    <div class="content-area">
      <p class="url">URL：<%= link_to @page.url, @page.url %></p>
      <div class="btn-area">
        <%= link_to 'Edit', edit_page_path(@page), class: "btn btn-primary" %>
        <%= link_to 'Back', pages_path, class: "btn btn-warning" %>
      </div>
    </div>
  </div>
</div>