$title-bg-color: #a2e098;
$title-hilight-color: #d9f4d4;

html{
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

.navbar.navbar-default{
  margin-bottom: 0px;
}

.right{
  text-align: right;
}

.left{
  text-align: left;
}

.center{
  text-align: center;
}

.inline{
  display: inline;
}

ul{
  padding: 0px;
}
li{
  list-style: none;
}
header{
  h1{
    margin: 0px;
    padding: 10px;
    background-color: $title-bg-color;
    color: #FFFFFF;
  }
}

body{
  padding-bottom: 80px;
}

footer{ 
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  p{
    text-align: center;
    margin: 0px;
    padding: 7px;
    background-color: $title-bg-color;
    color: #FFFFFF;
  }
}

#search-page-form{
  margin-bottom: 0px;
  border: none;
}