$boder-color: #FAFAFA;
$content-bg-color: #FFFFFF;
$title-bg-color: #a2e098;
$title-hilight-color: #d9f4d4;

.title{
  padding: 5px;
  margin: 0px;
  font-size: 30px;
}

.favorite_btn{
  color: #DDDDDD;
  background-color: transparent;
  border: none;
}
.favorited{
  color: yellow;
}

#new,#edit,#show{
  padding-bottom: 100px;
  h1,h2{
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .input-form,.detail-area{
    .content-area{
      .url{
        word-wrap: break-word;
      }
    }
    padding: 15px;
    border-radius: 10px;
    background-color: $content-bg-color;
    margin: 10px 0px;
  }
  .tags_area{
    .tag{
      line-height: 28px;
    }
  }
  .url{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .image-area{
    border: #EEEEEE 1px solid;
    position: relative;
    .page-image{
      object-fit: cover;
      max-width: 100%;
      min-width: 100%;
    }
    .info{
      font-size: 30px;
      padding: 5px;
      position: absolute;
      text-align: right;
      top: 0;
      width: 100%;
    }
  }
  .btn-area{
    text-align: center;
    color: #AAAAAA;
    button{
      background-color: transparent;
    }
    button:hover { color: #AAFFAA; }     
    a:link { color: #AAAAAA; }
    a:visited { color: #AAAAAA; }
    a:hover { color: #AAFFAA; }
    a:active { color: #AAFFAA; }
  }
  .comments_area{
    padding: 10px;
    h3{
      margin-top: 0px;
    }
    margin: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
  }
}
#index{
  padding: 5px;
  .thumbnail{
    padding: 0px;
    p{
      margin-bottom: 0px;
    }
    .title{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px #F5F5F5 solid;
    }
    .image-area{
      position: relative;
      .page-image{
        object-fit: cover;
        max-width: 100%;
        min-width: 100%;
      }
      .info{
        padding: 5px;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(50, 50, 50, 0.5);
        font-size: 16px;
        color: #FFFFFF;
        .url{
          a:link { color: #FFFFFF; }
          a:visited { color: #FFFFFF; }
          a:hover { color: #AAFFAA; }
          a:active { color: #AAFFAA; }
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .read{
      color: #DD0000;
      font-size: smaller;
    }
    .btn-area{
      text-align: center;      
      a:link { color: #AAAAAA; }
      a:visited { color: #AAAAAA; }
      a:hover { color: #AAFFAA; }
      a:active { color: #AAFFAA; }
    }
  } 
}

/* nvbar */
$bgDefault      : $title-bg-color;
$bgHighlight    : $title-hilight-color;
$colDefault     : #ffffff;
$colHighlight   : #ffffff;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}