$boder-color: #FAFAFA;
$content-bg-color: #FFFFFF;
$title-bg-color: #a2e098;
$title-hilight-color: #d9f4d4;

.title{
  padding: 5px;
  margin: 0px;
  font-size: 30px;
}

.favorite_btn{
  padding: 0px;
  color: #DDDDDD;
  font-weight: bold;
  border: none;
  background-color: rgba(255,255,255,1);
}
.favorited{
  color: yellow;
}

#new,#edit,#show{
  padding-bottom: 100px;
  h1{
    border-left: 5px lightgreen solid;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .input-form,.detail-area{
    .content-area{
      .url{
        font-size: 20px;
        word-wrap: break-word;
      }
    }
    padding: 25px;
    border-radius: 10px;
    background-color: $content-bg-color;
    margin: 20px;
  }
}

#index{
  margin-top: 10px;
  padding-bottom: 100px;
  .area{
    padding: 5px;
    .page{
      background-color: $content-bg-color;
      word-wrap: break-word;
      .contents-area{
        height: 120px;
        .title{
          font-weight: bold;
          font-size: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          border-bottom: 1px lightgreen solid;
          .read{
            color: #DD0000;
          }
        }
        .url{
          font-size: 16px;
        }
      }
      .tags_area{
        height: 30px;
      }
      .btn-area{
        padding-top: 12px; 
        border-top: 1px solid $boder-color;
      }
      border: 1px solid $boder-color;
      border-radius: 5px;
      padding: 10px;
    }
  }
}

/* nvbar */
$bgDefault      : $title-bg-color;
$bgHighlight    : $title-hilight-color;
$colDefault     : #ffffff;
$colHighlight   : #ffffff;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}